<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<style>
body
{
    background-image: url("https://www.dbs.com/in/iwov-resources/media/images/learn/banners/what-is-a-personal-loan-1404x630.jpg");
    background-size: cover;
}
.pd{
padding-bottom:45%;
}
</style>
</head>
<body>
<form action="/submit" method="post">
<br>
<center><b class="pd"><font color="black" size="15" font-family="Comic Sans MS" >Laon Approval Prediction</font></b></center><br><br>
<div>
<br>
<center>
<h2><font color="black"> {{result}} </h2>  
</center>
</div>
</form>
</body>
</html>